body {
background-color:oldlace;
}

.carousel-bg {
    background-color: rgb(49, 49, 49);
}

.center {
    text-align: center;
}

.center-obj{
    margin-left:auto;
    margin-right:auto;
}

.form-width {
    width: 250px;
}

td {
    padding: 5px;
}

.gradient {
background: linear-gradient(0deg, rgba(210,222,231,1) 0%, rgba(227,242,253,1) 25%, rgba(227,242,253,1) 75%, rgba(210,222,231,1) 100%);
}
