<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <div th:replace="fragments/css"></div>
</head>
<body class="mx-auto">
<div th:replace="fragments/navbaruser"></div>
<!-- Page content-->
<div class="container">
    <h3> Employees </h3>

    <table class="table table-dark table-striped table-hover fs-4">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Job Title</th>
            <th scope="col">Department</th>
            <th scope="col"></th>



        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="fname" class="form-control fs-4" id="fname" th:value="${emp.eFirstName}"></td>
            <td><input type="text" name="lname" class="form-control fs-4" id="lname" th:value="${emp.eLastName}"></td>
            <td><input type="date" name="dob" class="form-control fs-4" id="dob" th:value="${emp.eDob}"></td>
            <td><input type="text" name="phone" class="form-control fs-4" id="phone" th:value="${emp.ePhoneNumber}"></td>
            <td><input type="text" name="email" class="form-control fs-4" id="email" th:value="${emp.eEmail}"></td>
            <td th:text="${emp.eHireDate}"></td>
            <td th:text="${emp.eJobTitle}"></td>
            <td th:text="${emp.eDepartment.dName}"></td>
            <td><form th:action="@{'/employees/profile/' + ${emp.eId}}" method="post"><button type="save" class="btn btn-success">View</button></form></td>
          </tr>
        </tbody>
    </table>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>