<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <div th:replace="fragments/css"></div>
</head>
<body class="mx-auto">
<div th:replace="fragments/navbaruser"></div>
<!-- Page content-->
<div class="container">
    <h3> Inventory </h3>

    <table class="table table-dark table-striped table-hover mt-3 fs-4">
        <tr>
            <td>Item Number</td>
            <td th:text="${inv.iItemNumber}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${inv.iDescription}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${inv.iLocation}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td th:text="${inv.iQuantity}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${inv.iStatus.sStatus}"></td>
        </tr>
        <tr>
            <td>Date Received</td>
            <td th:text="${inv.iDateReceived}"></td>
        </tr>
        <tr>
            <td>Last Date Moved</td>
            <td th:text="${inv.iLastDateMoved}"></td>
        </tr>
        <tr>
            <td>Moved By</td>
            <td th:text="${inv.iMovedBy.eFirstName} + ' ' + ${inv.iMovedBy.eLastName}"></td>
        </tr>
        <tr>
            <td>Inventory Group Company Name</td>
            <td th:text="${inv.iInventoryGroup.gCompanyName}"></td>
        </tr>
    </table>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>