<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/mystyles.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/navbaruser"></div>
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyname}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Item Number</td>
                    </tr>
                    <tr>
                        <td><label for="number" class="form-label">Item Number</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="number">
                            <option th:each="inv : ${inventory}" th:value="${inv.iItemNumber}" th:text="${inv.iItemNumber}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyemail}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Item Description</td>
                    </tr>
                    <tr>
                        <td><label for="desc" class="form-label">Item Description</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="desc">
                            <option th:each="inv : ${inventory}" th:value="${inv.iDescription}" th:text="${inv.iDescription}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyname}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Status</td>
                    </tr>
                    <tr>
                        <td><label for="status" class="form-label">Status</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="status">
                            <option th:each="inv : ${inventory}" th:value="${inv.iStatus.sStatus}" th:text="${inv.iStatus.sStatus}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyname}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Location</td>
                    </tr>
                    <tr>
                        <td><label for="location" class="form-label">location</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="location">
                            <option th:each="inv : ${inventory}" th:value="${inv.iLocation}" th:text="${inv.iLocation}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyemail}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Date Received</td>
                    </tr>
                    <tr>
                        <td><label for="received" class="form-label">Date Received</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="received">
                            <option th:each="inv : ${inventory}" th:value="${inv.iDateReceived}" th:text="${inv.iDateReceived}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="col">
            <!-- Search Form -->
            <form th:action="@{/employees/employeebyname}" method="post">
                <table class="shadow form-width bg-white mx-auto mt-3">
                    <tr>
                        <td class="bg-dark center h5 text-white pb-2">Find By Inventory Group</td>
                    </tr>
                    <tr>
                        <td><label for="group" class="form-label">Inventory Group</label></td>
                    </tr>
                    <tr>
                        <td><select class="form-select" id="group">
                            <option th:each="invgroup : ${inventorygroup}" th:value="${invgroup.gCompanyName}" th:text="${invgroup.gCompanyName}"></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>
