<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <div th:replace="fragments/css"></div>
</head>
<body class="mx-auto">
<div th:replace="fragments/navbaruser"></div>
<!-- Page content-->
<div class="container">
    <h3 class="mt-5"> Add Inventory Group </h3>
    <div><a th:href="@{/inventorygroups/show}"><button type="save" class="btn btn-primary">Back to Show All</button></a></div>
    <form th:action="@{/inventorygroups/save}" method="post" th:object="${ig}">
        <table class="table table-primary table-striped table-hover fs-4 shadow mt-3">
            <tr>
                <td scope="col">Company Name</td>
                <td><input type="text" name="company" class="form-control fs-4" id="company" th:field="*{gCompanyName}"></td>
            </tr>
            <tr>
                <td scope="col">Contact First Name</td>
                <td><input type="text" name="fname" class="form-control fs-4" id="fname" th:field="*{gContactFirstName}"></td>
            </tr>
            <tr>
                <td scope="col">Contact Last Name</td>
                <td><input type="text" name="lname" class="form-control fs-4" id="lname" th:field="*{gContactLastName}"></td>
            </tr>
            <tr>
                <td scope="col">Contact Email</td>
                <td><input type="text" name="email" class="form-control fs-4" id="email" th:field="*{gContactEmail}"></td>
            </tr>
            <tr>
                <td scope="col">Contact Phone Number</td>
                <td><input type="text" name="phone" class="form-control fs-4" id="phone" th:field="*{gContactPhone}"></td>
            </tr>
            <tr>
                <td scope="col">Contract Start Date</td>
                <td><input type="date" name="start" class="form-control fs-4" id="start" th:field="*{gContractStartDate}"></td>
            </tr>
            <tr>
                <td scope="col">Contract End Date</td>
                <td><input type="date" name="end" class="form-control fs-4" id="end" th:field="*{gContractEndDate}"></td>
            </tr>
            <tr>
                <td scope="col"><button type="save" class="btn btn-success">Save</button></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>