
    <div class="raw" th:fragment="home">
        <div class="col">
        </div>
        <div class="col">
            <div  th:if="${param.error}" class="error">
                Invalid username and password.
            </div>
            <div  th:if="${param.logout}" class="error">
                You have been logged out.
            </div>
            <!-- Login Form -->

            <form th:action="@{/login/authenticate}" method="post">
                <div class="mx-auto mt-3 form-width bg-dark center h5 pb-2">
                    <label class="center text-white">Login</label>
                </div>
                <div class="mx-auto form-width">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                           aria-describedby="usernamehelp">
                </div>
                <div class="mx-auto mt-3 form-width">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="mx-auto mt-3 form-width">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
