<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"  />
    <link th:rel="stylesheet" th:href="@{/css/mystyles.css}" />
</head>
<body class="mx-auto">
<div th:replace="fragments/navbaruser"></div>
<!-- Page content-->
<div class="container">
        <div class="row">
            <div class="col">
                <table class="shadow form-width bg-white mx-auto mt-5">
                    <tr>
                        <td><img class="rounded-circle shadow" th:src="@{/assets/blank-profile.png}"style="width: 100px; height: 100px;"/>></td>
                    </tr>
                    <tr>
                        <td>image here</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table class="shadow form-width bg-white mx-auto mt-5 border1">
                    <tr>
                        <td class="fw-bold">Name:</td>
                        <td th:text="${emp.eFirstName}"></td>
                        <td th:text="${emp.eLastName}"></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Date of Birth:</td>
                        <td th:text="${emp.eDob}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Phone:</td>
                        <td th:text="${emp.ePhoneNumber}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Email:</td>
                        <td th:text="${emp.eEmail}" colspan="2"></td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table class="shadow form-width bg-white mx-auto mt-5">
                    <tr>
                        <td class="fw-bold">Hire Date:</td>
                        <td th:text="${emp.eHireDate}"></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Job Title:</td>
                        <td th:text="${emp.eJobTitle}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Department:</td>
                        <td th:text="${dept.dName}" colspan="2"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>